.PreTest {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100%; /* This ensures the container takes up the full height of the viewport */
}
.PreTest {
  position: relative;
  width: 480px; /* Adjust the width as needed */
  height: auto; /* Height will adjust based on content */
}

.webcam {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.output_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.webcam {
  width: 640px; /* Adjust as needed */
  height: 480px; /* Adjust as needed */
}

.webcam-canvas {
  /* width: 100%;  */
  height: 90%; /* Make the canvas fill the container */
}

.canvas-style {
  font-size: 100px;
}
Button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%; /* This ensures the container takes up the full height of the viewport */
}
.enable-predictions {
  position: absolute;
  top: 750px;
  left: 0;
  width: 100%;
  padding: 100px;
}
.distance-button {
  position: absolute;
  top: 750px;
  left: 0;
  width: 100%;
}